main {
  margin-left: 220px; /* Adjust this to match the width of your sidebar */
  padding: 20px; /* Optional: Add padding for better readability */
}

footer {
  margin-left: 220px; /* Adjust this to match the width of your sidebar */
  padding: 20px; /* Optional: Add padding for better readability */
}

.sidebar-header {
  width: 200px; /* Adjust width as needed */
  position: fixed; /* Keep it fixed on the left side */
  top: 0;
  left: 0;
  height: 100vh; /* Make it cover the full height of the viewport */
  background-color: #f4f4f4; /* Background color of the sidebar */
  padding: 10px; /* Padding around the content */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optional: Add a slight shadow */
  display: flex;
  flex-direction: column;
}

.sidebar-header nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-header nav ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.sidebar-header nav ul.flex-grow-1 {
  flex-grow: 1; /* This will take up all available vertical space */
}

.sidebar-header nav ul li {
  margin-bottom: 10px; /* Spacing between items */
}

.sidebar-header nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Text color */
  display: block; /* Ensure each link takes the full width of the parent */
  padding: 10px; /* Padding around the link text */
  border-radius: 4px; /* Optional: Add rounded corners */
}

.sidebar-header nav ul li a:hover {
  background-color: #ddd; /* Background color on hover */
}


.transaction-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.transaction-item:last-child {
  border-bottom: none;
}
.transaction-item .icon {
  background-color: #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.transaction-item .details {
  flex-grow: 1;
}
.transaction-item .amount {
  font-weight: bold;
  color: #333;
}
.transaction-item.income .amount {
  color: #28a745;
}
.transaction-item.expense .amount {
  color: #dc3545;
}
.transaction-item.highlight {
  background-color: #f8f9fa;
  border-radius: 5px;
}
.filters a {
  margin-right: 15px;
  cursor: pointer;
}
.filters a.active {
  font-weight: bold;
  color: #000;
}
