<form
    hx-post="{% url 'change_apartment_tenant' %}"
    hx-swap="outerHTML">
    {% csrf_token %}
    <input type="hidden" name="tenant_id" value="{{ tenant.id }}">
    <label for="apartment" class="form-label me-2">Apartment Number</label>
    <div class="mb-3 d-flex align-items-center">
        <input type="text" class="form-control me-2" id="apartment"
            name="apartment"
            value="{{ tenant.unit_number }}" required>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
