<table class="table table-bordered">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Paid to</th>
        </tr>
    </thead>
    <tbody>
        {% if expenses %}
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ charge.paid_to }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No charges available</td>
            </tr>
        {% endif %}
    </tbody>
</table>
