{% extends "base.html" %}

{% load static %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

<h1><b>Dashboard</b></h1>


<div class="balance-card">
    <div class="balance-header">
        <span>Total Balance</span>
        <!-- <span class="percentage-change">
            <i class="icon-arrow-up"></i> 2.36%
        </span> -->
    </div>
    <div class="balance-amount">
        {{ total_balance }} Ft
    </div>
    <div class="income-expense">
        <div class="income">
            <span>Income</span>
            <strong>{{ income }} Ft </strong>
        </div>
        <div class="divider"></div>
        <div class="expense">
            <span>Expense</span>
            <strong>{{ expense }} Ft</strong>
        </div>
    </div>
</div>


<div class="container mt-5 balance-card">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Transactions</h3>
        <a href="#" class="text-muted">View all</a>
    </div>
    <div class="filters mb-4">
        <a href="#" class="active">All</a>
        <a href="#">Expenses</a>
        <a href="#">Income</a>
    </div>

    <div class="transaction-list">
        <div class="transaction-item expense">
            <div class="icon">
                <i class="bi bi-shop"></i>
            </div>
            <div class="details">
                <div>Central Burger</div>
                <small class="text-muted">Cafe and Restaurant</small>
            </div>
            <div class="amount">-$189.36</div>
        </div>

        <div class="transaction-item expense">
            <div class="icon">
                <i class="bi bi-basket"></i>
            </div>
            <div class="details">
                <div>The Market</div>
                <small class="text-muted">Groceries</small>
            </div>
            <div class="amount">-$92.50</div>
        </div>

        <div class="transaction-item income highlight">
            <div class="icon">
                <i class="bi bi-arrow-up-right-circle"></i>
            </div>
            <div class="details">
                <div>Quick Transfer</div>
                <small class="text-muted">Maria Purple</small>
            </div>
            <div class="amount">+$350.00</div>
        </div>

        <div class="transaction-item expense">
            <div class="icon">
                <i class="bi bi-basket"></i>
            </div>
            <div class="details">
                <div>The Market</div>
                <small class="text-muted">Groceries</small>
            </div>
            <div class="amount">-$36.20</div>
        </div>

        <div class="transaction-item expense">
            <div class="icon">
                <i class="bi bi-shop"></i>
            </div>
            <div class="details">
                <div>Central Burger</div>
                <small class="text-muted">Cafe and Restaurant</small>
            </div>
            <div class="amount">-$189.36</div>
        </div>
    </div>
</div>

{% endblock %}